<div class="box busca">
  <h3>Buscar no blog</h3>
  <div>
    <form action="http://www.google.com/cse" id="cse-search-box">
      <div>
        <input type="hidden" name="cx" value="006270070275934949219:ru0wxsk3lom" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" name="q" />
        <input type="submit" name="sa" value="Buscar" />
      </div>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=pt"></script>
  </div>
</div>

