{% extends "comments/base.html" %}
{% load i18n %}

{% block content %}
  {% load comments %}
  <form action="{% comment_form_target %}" method="post">
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    {% if form.errors %}
    <h1>{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
    {% endif %}
    {% for field in form %}
      {% if field.is_hidden %}
        {{ field }}
      {% else %}
        <p
          {% if field.errors %} class="error"{% endif %}
          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}
          >
          <label for="id_{{ field.html_name }}">
            {% ifnotequal field.name "url"%}*{% endifnotequal %}{{ field.label }}
          </label>
          {% if field.errors %}{{ field.errors }}{% endif %}
          {{ field }}
          {% ifequal field.name "email" %}(n&atilde;o ser&aacute; divulgado){% endifequal %}
        </p>
      {% endif %}
    {% endfor %}
    <p class="submit">
    <input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}" />
    </p>
  </form>
  <a href="javascript:history.back();">Voltar</a>
{% endblock %}

